{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
    <title>MakeOwnBook</title>
</head>
<body>
    <div class="container">
        <div class="box">
            {% if validlink %}
            <div class="heading">
                <p>Forgot Password</p>
            </div>
            <div class="inputbox">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Change password</button>
                </form>
            </div>
            {% else %}
                <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                </p>
            {% endif %}
        </div>
    </div>
</body>
</html>